* {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30vh 30vh 30vh 30vh 30vh 30vh;
}

.hero, .copyright-info { background: lightsalmon; }
.first-service { background: lightseagreen; }
.second-service { background: lightsteelblue; }
.third-service { background: lightyellow; }
.other-links { background: lightgreen; }

/* Tablet */
@media screen and ( min-width: 500px ) {

    body {
        grid-template-columns: 50% 50%; /* 2 columns! */
        grid-template-rows: 30vh 30vh 30vh 30vh; /* 4 Rows! */
        grid-template-areas:
            "hero hero" /* Row one: hero spans two columns. */
            "first-service second-service" /* Row two: each is one cell. */
            "third-service third-service" /* Row three: third-service spans two columns.  */
            "other-links copyright-info"; /* Row four: each is one cell. */
    }

    .hero { grid-area: hero; }
    .first-service { grid-area: first-service; }
    .second-service { grid-area: second-service; }
    .third-service { grid-area: third-service; }
    .other-links { grid-area: other-links; }
    .copyright-info { grid-area: copyright-info; }
}

/* Desktop size */
@media screen and ( min-width: 1024px ) {

    body {
        grid-template-columns:
            calc( 100% / 3 ) /* One third! */
            calc( ( 100% / 3 ) / 2 ) /* Half of one third... */
            calc( ( 100% / 3 ) / 2 ) /* Half of one third... */
            calc( 100% / 3 ); /* One third! */
        grid-template-rows: 35vw 35vw 35vw;
        grid-template-areas:
            "hero hero hero hero"
            "first-service second-service second-service third-service"
            "other-links other-links copyright-info copyright-info";
    }

}